*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    box-shadow: 1px 1px 20px rgb(225, 225, 225);
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}
header{
  width: 100%;
  height: 80px;
}

.liste{
  list-style-type: block;
  list-style-type:square;
}

nav a {
  color: #f3ba2f;
  
}

.droite{
  align-items: center;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  
}

.Menu1 {
  position: relative;
  z-index: 2;
}
.Menu2 {
  position: relative;
}
.Menu3 {
  position: relative;
}
.Menu4 {
  position: relative;
}

.sous-menu1 {
  display: none;
  position: absolute;
  top: 100%;
  width: 140px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sous-menu2 {
  display: none;
  position: absolute;
  top: 100%;
  width: 150px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sous-menu3 {
  display: none;
  position: absolute;
  top: 100%;
  width: 100px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sous-menu4 {
  display: none;
  position: absolute;
  top: 100%;
  width: 100px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sousmenutext{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  

}

.cvshow{
  width: 60%;
  height: 800px;
  margin-left:20%;
  margin-right: 20%;
}

.contenairecv{
  height: 100%;
  width: 100%;
}

.btn-cv{
  width: 170px;
  height: 50px;
  margin-left:45%;
  margin-right: 45%;
  display: block;
  background-color: white;
  background-size: 200% auto;
  transition: 0.2s;
  position: relative;
  
}
.btn-cv a {
  color: black;
  font-size: 20px;
  
}
.btn-cvbis{
  transition: all 0.3s linear 0s;
  background-color: #f3ba2f;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.btn-cv:hover .btn-cvbis{
  width: 100%;
  cursor: pointer;
}




.gifhome{
  width: 100%;
  height:2000px;
  opacity: 20%;
}
.textgif{
  display: flex;
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 2;
  font-size: 70px;
  color: #f3ba2f;
  font-weight:bolder;
  text-shadow: 5px 5px 2px;
}

.container{
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.partphoto{
  border: solid 1px black;
  border-radius:150px;
  width: 300px;
  height: 300px;
}

.imgprofil{
  width: 140px;
  margin-top: 20%;
  margin-left: 0%;
}
.blocpresentation{
  display: flex;
}
.texteprofil1{
  margin-top: 20px;
  margin-left: 50px ;
}